.d-grid {
    display: grid;
}
.d-grid-index {
    grid-template-columns: 1fr 1fr max-content 1fr;
}
.d-grid-first {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,100px);
}
.d-grid-first div:nth-child(even) {
    align-self: center;
}
.d-grid-second {
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(4,50px);
    grid-gap: 10px;
    height: 300px;
    align-content: center;
}
.d-grid-third div{
    place-self: center;
}
.d-grid-fourth div:nth-child(1) {
    align-self: start;
}
.d-grid-fourth div:last-child {
    align-self: start;
}